<h1>New restaurant</h1>

<%= form_for(@restaurant) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.text_field :address %>
    <%= f.number_field :stars %>
    <%= f.submit %>
<% end %>
