<h1><%= @restaurant.name %></h1>

Address: <%= @restaurant.address %>
<hr>
Stars: <%= @restaurant.stars %>
<hr>
<%= link_to "Edit", edit_restaurant_path(@restaurant.id) %> | 
<%= link_to "Delete", restaurant_path(@restaurant.id), method: "delete", data: { confirm: "Are you sure?"} %>
